/* Main Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Garet Book", sans-serif;
  text-align: center;
}

header {
  margin: 50px;
  padding: 10px;
  font-family: "Garet Heavy", sans-serif;
}

button {
  font-family: inherit;
}
