/* Fonts */
:root {
  --black: #000000;
  --white: #ffffff;
  --pink: #ff3278;
  --yellow: #ffdc18;
  --muscle: #ff5942;
  --font-heavy: "Garet Heavy", sans-serif;
  --font-book: "Garet Book", sans-serif;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: var(--font-book);
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}

/* Header */
header {
  margin: 50px;
  padding: 10px;
  font-family: var(--font-heavy);
  text-transform: capitalize;
}

/* Counter Box */
.counter-box {
  background: var(--muscle);
  max-width: 450px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
}

.heading {
  font-size: 20px;
}

.count {
  font-size: 40px;
  font-family: var(--font-heavy);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: inherit;
}

@media screen and (max-width: 500px) {
  .counter-box {
    width: 330px;
  }
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  background-color: var(--yellow);
  width: 100%;
  color: var(--black);
  font-family: var(--font-heavy);
}

/* Utility Class */
.highlight {
  color: var(--yellow);
}
