/* Spacing base design-spec: 5px */

/* Fonts */
:root {
  --black: #000000;
  --white: #ffffff;
  --pink: #ff3278;
  --yellow: #ffdc18;
  --muscle: #ff5942;
  --font-heavy: "Garet Heavy", sans-serif;
  --font-book: "Garet Book", sans-serif;
  --font-glymph: "Gym", sans-serif;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body {
  font-family: var(--font-book);
  text-align: center;
  background-color: var(--black);
  color: var(--white);
}

/* Header */
header {
  margin: 50px;
  padding: 10px;
  font-family: var(--font-heavy);
  text-transform: capitalize;
}

.fitness-logo {
  font-family: var(--font-glymph);
}

/* Counter Box */
.counter-box {
  background: var(--muscle);
  max-width: 450px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
}

.heading {
  font-size: 20px;
}

.count {
  font-size: 40px;
  font-family: var(--font-heavy);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: inherit;
  background: var(--white);
  color: var(--black);
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn {
  margin-bottom: 5px;
  width: 100px;
}

.btn-add {
  background-color: var(--yellow);
  border: 2px solid var(--black);
  padding: 10px 20px;
  width: 130px;
}

.btn-reset {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .counter-box {
    width: 330px;
  }
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  background-color: var(--yellow);
  width: 100%;
  color: var(--black);
  font-family: var(--font-heavy);
}

/* Utility Class */
.highlight {
  color: var(--yellow);
}
